#include <common/nordic/nrf52840_uf2_boot_mode.dtsi>

/ {
    cornix_bootloader_trigger: cornix_bootloader_trigger {
        compatible = "zmk,cdc-acm-bootloader-trigger";
        cdc-port = <&snippet_zmk_usb_logging_uart>;
    };
};
